@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.ql-toolbar {
  border: none !important;
  background: #f8f8f8 !important;
}

.ql-toolbar .ql-formats:not(:last-child) {
  border-right: 1px solid #dcdcdc !important;
  padding-right: 12px !important;
}

.ql-container {
  font-family: "Lato", sans-serif !important;
  border: none !important;
  height: unset !important;
}

.ql-editor {
  line-height: 22px !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  padding: 8px 12px !important;
  color: #1d1c1d !important;
  font-family: "Lato", sans-serif !important;
}

.ql-editor a {
  color: #1264a3 !important;
}

.ql-editor a:hover {
  text-decoration: underline;
}

.ql-renderer {
  padding: 0 !important;
}

.ql-editor::before {
  left: 12px !important;
  font-family: "Lato", sans-serif !important;
  color:#8d8d8d !important;
  font-style: normal !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  @apply truncate
}

.messages-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #dcdcdc #f8f8f8;
}